---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  imagePath: string;
  altText: string;
  name: string;
  width: number;
  height: number;
  icon: string;
}

const block = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}',
  { eager: true }
);

const imageSrc = images[block.imagePath]?.default;
const src =
  typeof imageSrc === 'string'
    ? imageSrc.replace(/^\./, '/_cloudcannon')
    : imageSrc ?? block.imagePath;

if (!src) {
  throw new Error(
    `"${block.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
}
---

<div class="card">
  <h2><i class=`fa-solid fa-${ block.icon }`></i>{block.name}</h2>
  <Image
    src={src}
    alt={block.altText}
    width={block.width}
    height={block.height}
  />
</div>
