---
import { header } from "../../../data/navigation.json";
import Icon from "../utility/Icon";

interface Props {
  headerStyleOverrides: {
    background_color: string;
    text_color: string;
    hover_text_color: string;
    alternate_logo: {
      image_path: string;
      logo_alt_text: string;
    };
  };
}

// Sort out whether values are overridden by the hero at the top of the page,
// Or use the values set in the site-wide data/navigation.json data file
const headerStyleOverrides = Astro.props.headerStyleOverrides;
const backgroundColor =
  headerStyleOverrides?.background_color ?? header.background_color;
const linkTextColor = headerStyleOverrides?.text_color ?? header.text_color;
const linkHoverColor =
  headerStyleOverrides?.hover_text_color ?? header.hover_text_color;
const logoImagePath =
  headerStyleOverrides?.alternate_logo?.image_path ?? header.logo;
const logoAltText =
  headerStyleOverrides?.alternate_logo?.logo_alt_text ?? header.logo_alt_text;
---

<header
  class="header"
  x-data="{ open: false }"
  x-transition
  style={`background-color: ${backgroundColor}; color: ${linkTextColor};`}>
  <div class="header__container">
    <nav class="header__nav">
      <a class="header__logo-link" href={header.logo_url}>
        <img class="header__logo-image" src={logoImagePath} alt={logoAltText} />
      </a>

      <!-- Mobile menu -->
      <button
        class="hamburger-icon"
        aria-label="Open mobile navigation menu"
        popovertarget="mobile-menu"
        popovertargetaction="show">
        <Icon icon="Bars" />
      </button>
      <div popover id="mobile-menu" class="mobileMenuPopover">
        <!-- Mobile menu -->
        <button
          class="close-icon"
          aria-label="Close mobile navigation menu"
          popovertarget="mobile-menu"
          popovertargetaction="hide">
          <Icon icon="Xmark" />
        </button>
        <ul
          class="header__nav-links-mobile"
          aria-label="Header navigation links">
          {
            header.links.map((link) => {
              return (
                <li class="header__nav-item">
                  <a class="header__nav-link" href={link.link}>
                    {link.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>

      <!-- Desktop header links -->
      <ul
        class="header__nav-links-desktop"
        aria-label="Header navigation links">
        {
          header.links.map((link) => {
            return (
              <li class="header__nav-item">
                <a class="header__nav-link" href={link.link}>
                  {link.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style define:vars={{ linkHoverColor }}>
  .header__container {
    max-width: var(--pageContainer);
    margin: 0 auto;
    padding-inline: var(--pagePadding);
  }

  .header li {
    list-style-type: none;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }

  .mobileMenuPopover {
    /* Closed state transformed off the screen */
    transform: translateY(calc((var(--headerHeight) + 100%) * -1));
    transition:
      transform 0.4s,
      overlay 0.4s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    inset: unset;
    padding-top: var(--headerPadding);
    padding-bottom: 48px;
    padding-inline: var(--pagePadding);
    height: fit-content;
  }

  /* Styles while the menu is open */
  .mobileMenuPopover:popover-open {
    transform: translateY(0);
    position: relative;
    z-index: 99;
  }

  .header__logo-image {
    width: 200px;
  }
  .header__nav-links-desktop {
    display: none;
  }
  .header__nav-links-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
  }
  .header__nav-link {
    cursor: pointer;
  }
  .header__nav-link:hover {
    color: var(--linkHoverColor);
  }
  .hamburger-icon {
    display: block;
    width: 1rem;
  }
  .close-icon {
    display: block;
    width: 1rem;
    align-self: flex-end;
  }

  @media screen and (min-width: 600px) {
    .header__nav-links-mobile,
    .hamburger-icon {
      display: none;
    }
    .header__nav-links-desktop {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      min-width: none;
      background-color: transparent;
    }
    .header__nav-item {
      padding-left: 1rem;
    }
  }
</style>
