---
import { header } from '../../../data/navigation.json';
---

<header
  class="header"
  x-data="{ open: false }"
  x-transition
  style={`background-color: ${header.background_color}; color: ${header.color};`}>
  <div class="header__container">
    <nav class="header__nav">
      <a class="header__logo-link" href={header.logo_url}>
        <img class="header__logo-image" src={header.logo} alt="Logo" />
      </a>
      <button class="hamburger" @click="open = ! open">
        <svg height="16" width="24" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <path
              d="M0 16h24v-2.667H0V16zm0-6.667h24V6.667H0v2.666zM0 0v2.667h24V0H0z"
              id="a">
            </path>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <mask fill="#fff" id="b">
              <use href="#a"> </use>
            </mask>
            <use fill="#000" fill-rule="nonzero" href="#a"> </use>
            <g mask="url(#b)">
              <path d="M-4-8h32v32H-4z" fill="#034AD8"> </path>
            </g>
          </g>
        </svg>
      </button>
      <ul
        class="header__nav-links"
        x-show="open"
        x-transition
        @click.outside="open = false">
        {
          header.links.map((link) => {
            return (
              <li class="header__nav-item">
                <a class="header__nav-link" href={link.link}>
                  {link.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  .header__container {
    max-width: var(--pageContainer);
    margin: 0 auto;
    padding-inline: var(--pagePadding);
  }

  .header li {
    list-style-type: none;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }

  .header__logo-image {
    width: 200px;
  }

  .header__nav-links {
    position: absolute;
    z-index: 99;
    background-color: white;
    right: 0;
    bottom: 0;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
  }
  .header__nav-link {
    cursor: pointer;
  }
  .header__nav-link:hover {
    color: #034ad8;
  }

  @media screen and (min-width: 600px) {
    .header__nav-links {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      min-width: none;
      background-color: transparent;
    }
  }

  @media screen and (min-width: 600px) {
    .header__nav-item {
      padding-left: 1rem;
    }
  }

  .hamburger {
    padding: 0.5rem;
    transform: translateX(0.5rem);
    border-radius: 4px;
    cursor: pointer;
  }

  .hamburger:hover {
    background-color: #e5ecfb;
  }

  @media screen and (min-width: 600px) {
    .hamburger {
      display: none;
    }
  }
  /* .hamburger__inner,
  .hamburger__inner::before,
  .hamburger__inner::after {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: #034ad8;
  }
  .hamburger__inner::before,
  .hamburger__inner::after {
    content: '';
    display: block;
    position: relative;
  }
  .hamburger__inner::before {
    top: -0.625rem;
  }
  .hamburger__inner::after {
    top: 0.4rem;
  } */
</style>
