---
import Button from '../utility/button.astro';
const block = Astro.props;
---

<div class="left-right">
  <div class="left-right__wrapper">
    <img class="left-right__img" src={block.image} alt={block.image_alt} />
    <div class="left-right__text">
      <h2>{block.heading}</h2>
      <p>{block.text}</p>
      <Button
        link={block.button.link}
        text={block.button.text}
        icon={block.button.icon}
        backgroundColor={block.button.backgroundColor}
        textColor={block.button.textColor}
        borderOnly={block.button.borderOnly}
        hoverBrightness={block.button.hoverBrightness}
      />
    </div>
  </div>
</div>

<style>
  .left-right {
    display: flex;
    padding-block: 48px;
    align-items: center;
    overflow: hidden;
  }

  .left-right__wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-block: 96px;
    padding-inline: 48px;
  }
  @media only screen and (min-width: 960px) {
    .left-right__wrapper {
      flex-direction: row;
      padding-inline: 48px;
      gap: 4rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
  @media only screen and (min-width: 1280px) {
    .left-right__wrapper {
      flex-direction: row;
      padding-inline: 48px;
      gap: 10rem;
    }
  }

  .left-right__text {
    max-width: 600px;
    font-size: 1.25rem;
    color: rgb(59, 61, 62);
    line-height: 1.75rem;
  }
  .left-right__text p {
    margin-bottom: 1.5rem;
  }

  .left-right__img {
    margin-top: 32px;
    min-width: 50%;
  }

  h2,
  p {
    color: inherit;
  }

  h2 {
    max-width: 620px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  p {
    font-weight: lighter;
    overflow-wrap: break-word;
    max-width: 840px;
    margin-bottom: 60px;
    line-height: 1.7rem;
    letter-spacing: 1px;
  }
</style>
