---
import Button from '../utility/button.astro';
import Markdown from '../utility/markdown.astro';
const block = Astro.props;
---

<div
  class="left-right"
  style={`background-color: ${block.heading.background_color};`}>
  {
    block.flipped ? (
      <div class="left-right__wrapper">
        <img class="left-right__img" src={block.image} alt={block.image_alt} />
        <div class="left-right__text">
          <h2 class="text-4xl" style={`color: ${block.heading.color};`}>
            {block.heading.heading_text}
          </h2>
          <div style={`color: ${block.text.color};`}>
            <Markdown content={block.text.content} />
          </div>
          <Button
            link={block.button.link}
            text={block.button.text}
            icon={block.button.icon}
            background_color={block.button.background_color}
            text_color={block.button.text_color}
            border_only={block.button.border_only}
            hover_brightness={block.button.hover_brightness}
          />
        </div>
      </div>
    ) : (
      <div class="left-right__wrapper">
        <div class="left-right__text">
          <h2 class="text-4xl" style={`color: ${block.heading.color};`}>
            {block.heading.heading_text}
          </h2>
          <div>
            <Markdown content={block.text} />
          </div>
          <Button
            link={block.button.link}
            text={block.button.text}
            icon={block.button.icon}
            background_color={block.button.background_color}
            text_color={block.button.text_color}
            border_only={block.button.border_only}
            hover_brightness={block.button.hover_brightness}
          />
        </div>
        <img class="left-right__img" src={block.image} alt={block.image_alt} />
      </div>
    )
  }
  <!-- <img class="left-right__img" src={block.image} alt={block.image_alt} /> -->
</div>

<style>
  .left-right {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .left-right__wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-block: 48px;
    padding-inline: 32px;
  }
  @media only screen and (min-width: 960px) {
    .left-right__wrapper {
      flex-direction: row;
      gap: 4rem;
    }
  }
  @media only screen and (min-width: 1280px) {
    .left-right__wrapper {
      flex-direction: row;
      padding-inline: 48px;
      gap: 10rem;
    }
  }

  .left-right__img {
    margin-top: 32px;
    min-width: 50%;
  }

  h2 {
    max-width: 620px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
</style>
