---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Markdown from "../utility/markdown.astro";

interface Props {
  key: number;
  content_blocks_length: number;
  background_color: string;
  flipped: boolean;
  heading: {
    heading_text: string;
    color: string;
  };
  text: {
    text_content: string;
    color: string;
  };
  image: {
    image_path: string;
    alt_text: string;
  };
  button: {
    _bookshop_name: string;
    button_text: string;
    button_icon: string;
    button_link: string;
    background_color?: string;
    hover_brightness: number;
    text_color: string;
  };
}

const {
  key,
  content_blocks_length,
  background_color,
  flipped,
  heading,
  text,
  image,
  button,
} = Astro.props;

const buttons = import.meta.glob("/src/components/buttons/**/*.astro", {
  eager: true,
});
const buttonName = button?._bookshop_name.split("/").reverse()[0];
const buttonFilePath = `/src/components/buttons/${buttonName}/${buttonName}.astro`;
const ButtonComponent = (buttons[buttonFilePath] as any)?.default;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,svg,webp,avif}",
  { eager: true }
);
const imageSrc = images[image.image_path]?.default ?? image.image_path;

const lastInContentBlocks = key + 1 === content_blocks_length;
const extraPaddingBottomMultiplier = lastInContentBlocks ? "2" : "1";
---

<div
  class="left-right"
  style={`background-color: ${background_color};`}
  aria-labelledby={`left-right-${key}-heading-text`}>
  {
    flipped ? (
      <div class="left-right__wrapper">
        <Image
          class="order-2 md:order-1"
          alt={image.alt_text}
          widths={[320, 500, 640]}
          sizes={`(max-width: 640px) 320px, (max-width: 960px) 500px, (max-width: 1280px) 640px`}
          src={imageSrc}
        />
        <div class="left-right__text order-1 md:order-2">
          <h2
            id={`left-right-${key}-heading-text`}
            style={`color: ${heading.color};`}>
            {heading.heading_text}
          </h2>
          <div class="mb-4" style={`color: ${text.color};`}>
            <Markdown content={text.text_content} />
          </div>
          {button && <ButtonComponent {...button} />}
        </div>
      </div>
    ) : (
      <div class="left-right__wrapper">
        <div class="left-right__text">
          <h2
            id={`left-right-${key}-heading-text`}
            style={`color: ${heading.color};`}>
            {heading.heading_text}
          </h2>
          <div class="mb-4" style={`color: ${text.color};`}>
            <Markdown content={text.text_content} />
          </div>
          {button && <ButtonComponent {...button} />}
        </div>
        <Image
          alt={image.alt_text}
          widths={[320, 500, 640]}
          sizes={`(max-width: 640px) 320px, (max-width: 960px) 500px, (max-width: 1280px) 640px`}
          src={imageSrc}
        />
      </div>
    )
  }
</div>

<style define:vars={{ extraPaddingBottomMultiplier }}>
  .left-right {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .left-right__wrapper {
    width: 100%;
    max-width: var(--pageContainer);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-top: var(--sectionPaddingMobile);
    padding-bottom: calc(
      var(--sectionPaddingMobile) * var(--extraPaddingBottomMultiplier)
    );
    padding-inline: var(--pagePadding);
  }
  .left-right__wrapper img {
    width: 100%;
    max-width: 500px;
    margin-top: 32px;
  }
  .left-right__text h2 {
    max-width: 620px;
    margin-block: 30px;
    text-wrap: balance;
    font-size: 2rem;
    line-height: 100%;
  }
  @media only screen and (min-width: 768px) {
    .left-right__wrapper {
      flex-direction: row;
      gap: 64px;
      padding-top: var(--sectionPadding);
      padding-bottom: calc(
        var(--sectionPadding) * var(--extraPaddingBottomMultiplier)
      );
    }
    .left-right__wrapper img {
      width: 45%;
    }
    .left-right__text {
      width: 45%;
    }
    .left-right__text h2 {
      font-size: 2.5rem;
    }
  }
</style>
