---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { data, slug } = Astro.props;

const { thumb_image_path, thumb_image_alt, title, date, tags } = data;

const dateObj = new Date(date);
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}",
  { eager: true }
);

const imageSrc = images[thumb_image_path]?.default ?? thumb_image_path;
---

<div class="block">
  <a href={`/blog/${slug}`}>
    <Image
      class="rounded-sm aspect-video w-full"
      src={imageSrc}
      alt={thumb_image_alt}
      loading="lazy"
    />
  </a>
  <div class="flex flex-col justify-start mt-2 max-w-[500px]">
    {
      tags ? (
        <div class="flex flex-col sm:flex-row gap-3">
          {tags.map((tag: string) => {
            return (
              <a href={`/tags/${tag}/`}>
                <span class="bg-slate-200 px-1 rounded-sm">
                  {tag.charAt(0).toUpperCase() + tag.slice(1)}
                </span>
              </a>
            );
          })}
        </div>
      ) : (
        ""
      )
    }
    <a href={`/blog/${slug}/`}>
      <p class="text-2xl font-semibold">{title}</p>
    </a>
    <p class="font-light">
      {
        dateObj.toLocaleDateString(undefined, {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </p>
  </div>
</div>
