---
import Icon from "../../utility/Icon";
interface Props {
  button_text: string;
  button_icon: string;
  button_link: string;
  background_color: string;
  hover_brightness: number;
  text_color: string;
}

const block = Astro.props;
const hover_brightness = block.hover_brightness;
---

<a
  class="button"
  href={block.button_link}
  style={`color: ${block.text_color}; background-color: ${block.background_color}; border: 2px solid ${block.background_color};`}>
  <div>
    {
      block.button_icon && (
        <span class="button__icon">
          <Icon icon={block.button_icon} />
        </span>
      )
    }
    {block.button_text}
  </div>
</a>

<style define:vars={{ hover_brightness }}>
  .button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    display: block;
    max-width: max-content;
    padding: 0;
  }
  .button div {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
  .button div:hover {
    backdrop-filter: brightness(var(--hover_brightness));
  }

  .button__icon {
    width: 1rem;
  }
</style>
