---
import Layout from "./Layout.astro";
import PostSummary from "../components/blog/summary.astro";
import { getCollection } from "astro:content";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import PostHero from "../components/post-hero/post-hero.astro";

type Props = {
  frontmatter: {
    title: string;
    date: string | Date;
    image: string;
    image_alt: string;
    author: string;
  };
  body: string;
};

const props = Astro.props.frontmatter;
const bodyContent = Astro.props.body;

const { title, date, image, image_alt, author } = props;

const posts = await getCollection("blog");
const filteredPosts = posts.filter((post) => post.data.title !== title);

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}",
  { eager: true }
);

const imageSrc = images[image]?.default ?? image;
---

<Layout {...props}>
  <main class="py-[48px] md:py-[96px] px-8">
    <article class="max-w-screen-md mx-auto">
      <Image
        class="rounded-lg aspect-video"
        src={imageSrc}
        alt={image_alt}
        loading="lazy"
      />
      <PostHero
        bookshop:live
        date={date}
        bodyContent={bodyContent}
        title={props.title}
        author={author}
      />
      <div class="markdown-text" data-cms-edit="content">
        <slot />
      </div>
    </article>
    <section
      class="max-w-screen-md mx-auto pt-[48px] flex flex-col items-center">
      <h2 class="text-2xl">Recent Posts</h2>
      <div class="grid sm:grid-cols-2 gap-5 mt-5">
        {
          filteredPosts.slice(0, 2).map((post, i) => {
            return (
              <div class="max-w-[420px]">
                <PostSummary {...post} />
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
