---
import Layout from "./Layout.astro";
import PostSummary from "../components/blog/summary.astro";
import PostHero from "../components/post-hero/post-hero.astro";
import { getCollection } from "astro:content";

type Props = {
  frontmatter: {
    title: string;
    date: string | Date;
    image: string;
    image_alt: string;
    author: string;
  };
  body: string;
};

const props = Astro.props.frontmatter;
const bodyContent = Astro.props.body;

const { title, date, image, image_alt, author } = props;

const posts = await getCollection("blog");
const filteredPosts = posts.filter((post) => post.data.title !== title);
---

<Layout {...props}>
  <div class="post-container">
    <article>
      <PostHero
        bookshop:live
        image={image}
        image_alt={image_alt}
        date={date}
        bodyContent={bodyContent}
        title={props.title}
        author={author}
      />
      <div class="markdown-text" data-cms-edit="content" data-pagefind-body>
        <slot />
      </div>
    </article>
    <section>
      <h2>Recent Posts</h2>
      <div>
        {
          filteredPosts.slice(0, 2).map((post, i) => {
            return (
              <div>
                <PostSummary {...post} />
              </div>
            );
          })
        }
      </div>
    </section>
  </div>
</Layout>
