---
import Icon from '../utility/icon';
interface Props {
  link: string;
  text: string;
  icon: string;
  backgroundColor: string;
  textColor: string;
}

const block = Astro.props;
---

<button
  style={`background-color: ${block.backgroundColor}; color: ${block.textColor};`}
  class="button">
  <a href={block.link}>
    <span class="button__icon"><Icon icon={block.icon} /></span>{block.text}
  </a>
</button>

<style>
  .button {
    padding: 0.75rem 1.5rem;
    border-radius: 3px;
    max-width: fit-content;
  }

  .button__icon {
    width: 1rem;
  }
</style>
